        </div> <!-- /.container -->
        
        <!-- Footer -->
        <footer class="footer">
                <div class="container text-center">
                        <p class="text-muted">&copy; TrekSpek 2018 | <a href="/treks">Home</a> | <a href="/treks/new">New Trek</a></p>
                </div>          
        </footer>
   

        <!-- JQuery Library-->
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous">
        </script>  
        
        <!-- Popper Library -->
        <script 
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
                crossorigin="anonymous">
        </script>
        
        <!-- Bootstrap Library-->
        <script 
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" 
                crossorigin="anonymous">
        </script>
        
    </body>
</html>