<% include ../partials/header %>

    <header id="main" class="jumbotron main-head">
        <div class = "container">
            <h1 id="main-text">Welcome To TrekSpek</h1>
            <p> View the top Treks from all over the world </p>
            <p>
                <a id="add" href="/treks/new" class="btn btn-primary btn-lg">Add A New Trek</a>
            </p>
        </div>
    </header>
    
    <div class="row text-left" >
        <div class="col-md-12">
            <p>
                <form action="/treks" method="GET" class="form-inline">
                    <div>
                        <input id="search" type="text" name="search" placeholder="Find treks by name, location, author..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-12">
            <h3><%=display%><h3>
        </div>
    </div>

    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% treks.forEach(function(trek){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= trek.image %>">
                    <div class="caption">
                        <h4> <%= trek.name %> </h4>
                    </div>
                    <p>
                        <a href="/treks/<%= trek._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>

<% include ../partials/footer %>