<% include ./partials/header %>

<div class="row justify-content-center">
    <div style="col-md-12 text-center">
        <form id="registration_form" action="/register" method="post" enctype="multipart/form-data" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <hr>
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" class="form-control" type="text" name="username" placeholder="TheHalfBloodPrince" required>
            </div>
            <div class="form-group custom-file">
                <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/*">
                <label class="custom-file-label" for="avatar">Upload avatar</label>
            </div>
            <br>
            <br>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="" required>
            </div>

            <div class="form-group" id="retype_password_group">
                <label class="form-control-label" for="retype_password">Retype Password</label>
                <input type="password" class="form-control" name="retype_password" id="retype_password" required="">
                <div id="retype_alert"></div>
            </div>


            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" placeholder="Severus" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" placeholder="Snape" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="severus@hogwarts.co.uk" required>
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <input class="form-control" type="bio" name="bio" placeholder="Tell us a little about yourself...">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block">Sign Up!</button>
            </div>
        </form>
        <div class="form-signin">
            <a href="/treks">Go Back</a>
        </div>
    </div>
</div>

<!-- Need to load before the listener or else it won't show-->
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>

<script>
    // preventing white spaces and / to be entered in the username otherwise routing would mess up
    $("input#username").on({
          keydown: function(e) {
            if (e.which === 32 || e.which === 191)
              return false;
          },
          change: function() {
            this.value = this.value.replace(/\s/g, "");
          }
        });
        
    // adding script for the file browser
    $('#avatar').on('change',function(){
            //get the file name
            var fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        
    // adding listener to check if passwords match

    $(function() {
        var error_retype_password = false;

        $("#retype_password").focusout(function() {
            check_retype_password();
        });
        
        $("#password").focusout(function() {
            check_retype_password();
        });

        function check_retype_password() {
        
            var password = $("#password").val();
            var retype_password = $("#retype_password").val();
            
            if(password !=  retype_password) {
                $("#retype_password_group").attr("class", "form-group has-danger")
                $("#retype_password").attr("class", "form-control is-invalid")
                $("#retype_alert").attr("class", "invalid-feedback")
                $("#retype_alert").text("Passwords do not match!")
                error_retype_password = true;
            } else {
                $("#retype_password_group").attr("class", "form-group has-success")
                $("#retype_password").attr("class", "form-control is-valid")
                $("#retype_alert").attr("class", "valid-feedback")
                $("#retype_alert").text("Success! Passwords match!")
            }        
        }

        $("#registration_form").submit(function() {
                                                
            error_retype_password = false;                                                
            check_retype_password();
            
            if(error_retype_password == false){
                return true;
            } else {
                return false;   
            }
        });
    });
 
</script>

<% include ./partials/footer %>